AuthType Basic
AuthName "dev"
AuthUserFile "/home2/tpierce/.htpasswds/dev.caddolakebayoutours.com/passwd"
require valid-user

ErrorDocument 404 error-pages/404.php
 
RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
